<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lizhenchuan.mapper.AppointmentMapper">

    <resultMap id="BaseResultMap" type="com.lizhenchuan.bean.Appointment">
        <id column="oid" property="oid" jdbcType="BIGINT"/>
        <result column="rid" property="rid" jdbcType="BIGINT"/>
        <result column="bid" property="bid" jdbcType="BIGINT"/>
        <result column="appointmentTIme" property="appointmenttime"
                jdbcType="DATE"/>
        <result column="appointmentState" property="appointmentstate"
                jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="haha" type="Reader">
        <id column="rid" property="rid" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="idcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="credit" property="credit" jdbcType="BIGINT"/>
        <result column="money" property="money" jdbcType="BIGINT"/>
        <collection property="appointments" ofType="Appointment" resultMap="BaseResultMap">
        </collection>
    </resultMap>

    <select id="selectduoduiyi" resultMap="haha">
        SELECT * FROM reader r
                 LEFT JOIN appointment a ON r.`rid` = a.`rid`;
    </select>

    <!--  public Integer saveAppointment(Appointment appointment); //添加预约记录-->
    <insert id="saveAppointment" parameterType="Appointment">
        CALL appointmentSaveappointment(
                #{oid,mode=IN}, #{rid,mode=IN}, #{bid,mode=IN}, #{appointmenttime,mode=IN}, #{appointmentstate,mode=IN}
        )
    </insert>
    <!--public void updateAppointmentState(ong oid,Integer appointmentState); //修改预约状态-->
    <update id="updateAppointmentState">
        call appointmentUpdateappointmentState(
                #{oid}, #{appointmentState}
        )
    </update>
    <!--public List<Appointment> selectAppointment(long rid); //查询用户预约记录-->
    <select id="selectAppointment" parameterType="Long"
            resultType="Appointment">
        call appointmentSelectappointment(#{rid})
    </select>
    <!--public Date selectAppointmentTIme(long oid); //查询预约订单的预约时间-->
    <select id="selectAppointmentTIme" parameterType="Long" resultType="Date">
        call appointmentSelectappointmentTIme(#{oid})
    </select>
</mapper>